@import "tailwindcss";

@theme {
  --color-background: #0a0908;
  --color-accent: #49111c;
  --color-foreground: #f2f4f3;
}

@theme inline {
  --font-sans: var(--font-sora);
}

:root {
  color-scheme: dark;
}
